* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 119, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
  
div {
    width: 70%;
    height: 25%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body div a {
    width: 33%;
    height: 35%;
    margin-left: 15px;
    background-color: blue;
    border: 2px #000 solid;
    border-color: rgb(124, 169, 190, 0.5)
                  rgb(37, 34, 34, 0.6)
                  rgb(37, 34, 34, 0.6)
                  rgb(124, 169, 190, 0.5);
    color: rgb(16, 241, 35);
    font-size: 30px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1,p,samp{
    margin-top: 1.5%;
    font-weight: 600;
    font-size: 35px;
    text-shadow: 3px 3px 3px  rgb(27, 31, 250) ;
    text-align: center;
}
body div a:active {
    border-color: rgb(37, 34, 34, 0.6) 
                  rgb(124, 169, 190, 0.5) 
                  rgb(124, 169, 190, 0.5) 
                  rgb(37, 34, 34, 0.6);

}
body div a:hover{
    background-color: rgb(24, 24, 218);

}
@media (max-width: 400px) {
    body{
        margin-top: 50px;
    }
    div {
        margin-top: 15px;
        flex-direction: column;
    }
    h1,p,samp{
        font-size: 16px;
        text-align: center;
    }
    body div a{
        width: 55%;
        height: 40%;
        font-size: 20px;
        margin-top: 15px;

    }
}